logging:
  level: "INFO"
proxies: {'http': '127.0.0.1:8080', 'https': '127.0.0.1:8080'}
elasticsearch:
  cloud_id: ""
  api_id: ""
  api_key: ""
  host: "http://localhost:9200"
nvd:
  urls:
    - "https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2002.json.zip"
    - "https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2003.json.zip"
    - "https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2004.json.zip"
    - "https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2005.json.zip"
    - "https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2006.json.zip"
    - "https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2007.json.zip"
    - "https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2008.json.zip"
    - "https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2009.json.zip"
    - "https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2010.json.zip"
    - "https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2011.json.zip"
    - "https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2012.json.zip"
    - "https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2013.json.zip"
    - "https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2014.json.zip"
    - "https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2015.json.zip"
    - "https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2016.json.zip"
    - "https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2017.json.zip"
    - "https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2018.json.zip"
    - "https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2019.json.zip"
    - "https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2020.json.zip"
    - "https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2021.json.zip"
    - "https://nvd.nist.gov/feeds/json/cve/1.1/nvdcve-1.1-2022.json.zip"
epss:
  url: "https://epss.cyentia.com/epss_scores-current.csv.gz"